<div class="categories">
    <p class="categories__heading">Категории</p>
    <ul class="categories__list">
        <li class="categories__list-item">
            <button>
                <span class="categories__list-item__name">Полимерные дисперсии</span>
                <span class="categories__list-item__number desktop">12</span>
            </button>
        </li>
        <li class="categories__list-item active">
            <button>
                <span class="categories__list-item__name">Материалы для изготовления тары, упаковки, этикетки</span>
                <span class="categories__list-item__number desktop">12</span>
            </button>
        </li>
        <li class="categories__list-item">
            <button>
                <span class="categories__list-item__name">Материалы для мебели и&nbsp;деревообработки</span>
                <span class="categories__list-item__number desktop">5</span>
            </button>
        </li>
        <li class="categories__list-item">
            <button>
                <span class="categories__list-item__name">Материалы для ремонта и&nbsp;строительстваи</span>
                <span class="categories__list-item__number desktop">102</span>
            </button>
        </li>
    </ul>
</div>