<footer class="footer">
    <div class="container">
        <div class="footer__top">
            <div class="footer__left">
                <a href="#" class="footer__left-logo">
                    <img src="./images/svg/footer-logo.svg" alt="">
                </a>
                <p class="footer__left-copyright desktop"><span class="copy">&#169;</span> Компания Хома, 2023
                    Все права защищены. </p>
                <a href="#" class="footer__left-policy desktop">Политика обработки персональных данных</a>
            </div>
            <ul class="footer__nav">
                <li class="footer__nav-item">
                    <a href="#">Техподдержка</a>
                </li>
                <li class="footer__nav-item">
                    <a href="#">Рекомендации</a>
                </li>
                <li class="footer__nav-item">
                    <a href="#">Проекты</a>
                </li>
                <li class="footer__nav-item">
                    <a href="#">Пресс-центр</a>
                </li>
            </ul>
            <div class="footer__list1-container">
                <p class="footer__list1-heading">
                    <span>О компании</span>
                    <svg width="13" height="8" viewBox="0 0 13 8" fill="none" xmlns="http://www.w3.org/2000/svg"
                        class="mobile">
                        <path d="M1 1L6.5 6L12 1" stroke="#313131" stroke-width="2" />
                    </svg>
                </p>
                <ul class="footer__list1">
                    <li class="footer__list1-item">
                        <a href="#">Производственный комплекс</a>
                    </li>
                    <li class="footer__list1-item">
                        <a href="#">Научно-исследовательский комплекс</a>
                    </li>
                    <li class="footer__list1-item">
                        <a href="#">История компании</a>
                    </li>
                    <li class="footer__list1-item">
                        <a href="#">Новости</a>
                    </li>
                    <li class="footer__list1-item">
                        <a href="#">Партнеры</a>
                    </li>
                </ul>
            </div>
            <div class="footer__list2-container">
                <p class="footer__list2-heading">
                    <span>Каталог</span>
                    <svg width="13" height="8" viewBox="0 0 13 8" fill="none" xmlns="http://www.w3.org/2000/svg"
                        class="mobile">
                        <path d="M1 1L6.5 6L12 1" stroke="#313131" stroke-width="2" />
                    </svg>
                </p>
                <ul class="footer__list2">
                    <li class="footer__list2-item">
                        <a href="#">Полимерные дисперсии</a>
                    </li>
                    <li class="footer__list2-item">
                        <a href="#">Строительная химия</a>
                    </li>
                    <li class="footer__list2-item">
                        <a href="#">Клеи для мебели и деревообработки</a>
                    </li>
                    <li class="footer__list2-item">
                        <a href="#">Клеи для тары и упаковки</a>
                    </li>
                    <li class="footer__list2-item">
                        <a href="#">Клеи для автопрома и машиностроения</a>
                    </li>
                </ul>
            </div>
            <div class="footer__list3-container mobile">
                <p class="footer__list3-heading">
                    <span>Рекомендации</span>
                    <svg width="13" height="8" viewBox="0 0 13 8" fill="none" xmlns="http://www.w3.org/2000/svg"
                        class="mobile">
                        <path d="M1 1L6.5 6L12 1" stroke="#313131" stroke-width="2" />
                    </svg>
                </p>
                <ul class="footer__list3">
                    <li class="footer__list3-item">
                        <a href="#">Полимерные дисперсиис</a>
                    </li>
                    <li class="footer__list3-item">
                        <a href="#">Материалы для изготовления тары, упаковки, этикетки</a>
                    </li>
                    <li class="footer__list3-item">
                        <a href="#">Материалы для мебели и деревообработки</a>
                    </li>
                    <li class="footer__list3-item">
                        <a href="#">Материалы для ремонта и строительства</a>
                    </li>
                    <li class="footer__list3-item">
                        <a href="#">Онлайн подбор клеев для напольных покрытий</a>
                    </li>
                </ul>
            </div>
        </div>
        <div class="footer__bottom">
            <a href="#" class="footer__bottom-designed">
                <img src="./images/svg/request-design.svg" alt="" class="footer__bottom-designed__logo">
                <span class="footer__bottom-designed__developed">Разработано <span class="request">REQUEST</span></span>
            </a>
            <div class="footer__bottom-text mobile">
                <p class="footer__bottom-text__copyright"><span class="copy">&#169;</span> Компания Хома, 2020
                    Все права защищены.
                </p>
                <a href="#" class="footer__bottom-text__policy">
                    Политика обработки персональных данных
                </a>
            </div>
            <ul class="footer__bottom-list">
                <p class="footer__bottom-list__heading">Контакты</p>
                <li class="footer__bottom-list__item">
                    <a href="tel:+74951897730" class="footer__bottom-list__item-link">
                        <img src="./images/svg/headphones.svg" alt="">
                        <span>+7 (495) 189-77-30</span>
                    </a>
                </li>
                <li class="footer__bottom-list__item">
                    <a href="mailto: zakaz5@homa.ru" class="footer__bottom-list__item-link">
                        <img src="./images/svg/mail.svg" alt="">
                        <span> zakaz5@homa.ru</span>
                    </a>
                </li>
            </ul>
        </div>
    </div>
</footer>
<script src="https://www.google.com/recaptcha/api.js"></script>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
<script src="./js/accordion.min.js"></script>
<script src="./js/swiper-bundle.min.js"></script>
<script src="./js/choices.min.js"></script>
<script src="https://api-maps.yandex.ru/2.1/?apikey=bd3d2e96-cba3-46c0-8f30-c68fa989a9ee&lang=ru_RU"
    type="text/javascript"></script>
<script src="./js/anime.min.js"></script>
<script src="./js/accordions.js"></script>
<script src="./js/swipers.js"></script>
<script src="./js/main.js"></script>