<div class="modal modal-request">
    <div class="modal__container">
        <button class="modal__close-btn">
            <svg width="26" height="26" viewBox="0 0 26 26" fill="none" xmlns="http://www.w3.org/2000/svg">
                <path
                    d="M14.4365 13.0001L25.7027 1.73384C26.0993 1.33719 26.0993 0.694093 25.7027 0.29749C25.306 -0.0991127 24.6629 -0.0991635 24.2663 0.29749L13.0001 11.5638L1.73384 0.29749C1.33719 -0.0991635 0.694093 -0.0991635 0.29749 0.29749C-0.0991127 0.694144 -0.0991635 1.33724 0.29749 1.73384L11.5637 13.0001L0.29749 24.2663C-0.0991635 24.663 -0.0991635 25.3061 0.29749 25.7027C0.495792 25.901 0.755742 26.0001 1.01569 26.0001C1.27564 26.0001 1.53554 25.901 1.73389 25.7027L13.0001 14.4365L24.2663 25.7027C24.4646 25.901 24.7245 26.0001 24.9845 26.0001C25.2444 26.0001 25.5043 25.901 25.7027 25.7027C26.0993 25.306 26.0993 24.6629 25.7027 24.2663L14.4365 13.0001Z"
                    fill="#313131" />
            </svg>
        </button>
        <p class="modal__heading">Заявка на техподдержку</p>
        <form action="#" class="modal__form" id="request__form">
            <div class="modal__form-input">
                <label for="name">Имя<span>*</span></label>
                <input type="text" placeholder="Имя" id="name" required>
            </div>
            <div class="modal__form-input">
                <label for="phone">Телефон<span>*</span></label>
                <input type="text" placeholder="Телефон" id="phone" required>
            </div>
            <div class="modal__form-input">
                <label for="email">E-mail<span>*</span></label>
                <input type="email" placeholder="E-mail" id="email" required>
            </div>
            <div class="modal__form-input">
                <label for="city">Город<span>*</span></label>
                <input type="text" placeholder="Город" id="city" required>
            </div>
            <div class="g-recaptcha" data-sitekey="0000000000000000000000"></div>
        </form>
        <p class="modal__disclaimer">Нажимая кнопку “Отправить”, вы соглашаете с обработкой ваших персональных данных
        </p>
        <button class="modal__form-btn link" form="request__form">
            <svg width="71" height="71" viewBox="0 0 71 71" fill="none" xmlns="http://www.w3.org/2000/svg">
                <circle cx="35.5" cy="35.5" r="34.5" fill="none" stroke="#E30613" stroke-width="2" />
            </svg>
            <span>Отправить</span>
            <svg width="28" height="9" viewBox="0 0 28 9" fill="none" xmlns="http://www.w3.org/2000/svg">
                <path
                    d="M23.4037 0L22.0229 1.35198L24.2617 3.54397H-3V5.45597H24.2617L22.0229 7.64802L23.4037 9L28 4.49997L23.4037 0Z"
                    fill="black" />
            </svg>
        </button>
        <p class="modal__notice"><span>*</span> - Обязательные поля</p>
    </div>
</div>