<div class="news-categories">
    <p class="news-categories__heading">Категории</p>
    <ul class="news-categories__list">
        <li class="news-categories__list-item">
            <button>
                <span class="news-categories__list-item__name">2023</span>
                <span class="news-categories__list-item__number desktop">7</span>
            </button>
        </li>
        <li class="news-categories__list-item">
            <button>
                <span class="news-categories__list-item__name">2022</span>
                <span class="news-categories__list-item__number desktop">7</span>
            </button>
        </li>
        <li class="news-categories__list-item active">
            <button>
                <span class="news-categories__list-item__name">2021</span>
                <span class="news-categories__list-item__number desktop">102</span>
            </button>
        </li>
        <li class="news-categories__list-item">
            <button>
                <span class="news-categories__list-item__name">2020</span>
                <span class="news-categories__list-item__number desktop">5</span>
            </button>
        </li>
        <li class="news-categories__list-item">
            <button>
                <span class="news-categories__list-item__name">2019</span>
                <span class="news-categories__list-item__number desktop">12</span>
            </button>
        </li>
        <li class="news-categories__list-item">
            <button>
                <span class="news-categories__list-item__name">2018</span>
                <span class="news-categories__list-item__number desktop">12</span>
            </button>
        </li>
    </ul>
</div>