<section class="partners">
    <div class="container">
        <ul class="partners__list">
            <li class="partners__list-item">
                <a href="#">novopol</a>
            </li>
            <li class="partners__list-item">
                <a href="#"><span>homa</span>stic</a>
            </li>
            <li class="partners__list-item">
                <a href="#"><span>homa</span>prom</a>
            </li>
            <li class="partners__list-item">
                <a href="#"><span>homa</span>x</a>
            </li>
            <li class="partners__list-item">
                <a href="#"><span>homa</span>cryl</a>
            </li>
            <li class="partners__list-item">
                <a href="#"><span>homa</span>vil</a>
            </li>
        </ul>
        <ul class="partners__list">
            <li class="partners__list-item">
                <a href="#">novopol</a>
            </li>
            <li class="partners__list-item">
                <a href="#"><span>homa</span>stic</a>
            </li>
            <li class="partners__list-item">
                <a href="#"><span>homa</span>prom</a>
            </li>
            <li class="partners__list-item">
                <a href="#"><span>homa</span>x</a>
            </li>
            <li class="partners__list-item">
                <a href="#"><span>homa</span>cryl</a>
            </li>
            <li class="partners__list-item">
                <a href="#"><span>homa</span>vil</a>
            </li>
        </ul>
    </div>
</section>