<section class="partners">
    <div class="container">
        <ul class="partners__list">
            <li class="partners__list-item">
                <p>novopol</p>
            </li>
            <li class="partners__list-item">
                <p><span>homa</span>stic</p>
            </li>
            <li class="partners__list-item">
                <p><span>homa</span>prom</p>
            </li>
            <li class="partners__list-item">
                <p><span>homa</span>x</p>
            </li>
            <li class="partners__list-item">
                <p><span>homa</span>cryl</p>
            </li>
            <li class="partners__list-item">
                <p><span>homa</span>vil</p>
            </li>
        </ul>
    </div>
</section>