.polygraphy-main {
    padding-top: 4.1rem;
    padding-bottom: 22.5rem;

    &__list {
        margin: 0 auto;
        width: 116rem;

        &-item {
            padding-top: 3rem;
            padding-bottom: 3rem;
            display: flex;
            justify-content: space-between;
            width: 100%;
            border-bottom: 0.1rem solid #c4c4c4;

            &:first-child {
                padding-top: 0;
            }

            &__img {
                width: 32rem;
                height: 22.5rem;
            }

            &__text {
                display: flex;
                flex-direction: column;
                width: 80rem;
            }

            &__title {
                margin-bottom: 1.9rem;
                font-weight: 700;
                font-size: 2.4rem;
                line-height: 2.8rem;
                color: #000;
            }

            &__description {
                font-size: 1.7rem;
                line-height: 2.4rem;
                color: #000;
            }

            &__links {
                margin-top: auto;
                display: flex;
                align-items: center;
            }

            &__watch {
                margin-right: 5rem;
                display: flex;
                align-items: center;

                &:hover {
                    svg {
                        circle,
                        path {
                            stroke: #e30613;
                        }

                        &:last-child {
                            path {
                                stroke: none;
                                fill: #e30613;
                            }
                        }
                    }

                    span {
                        color: #e30613;
                    }
                }

                svg {
                    object-fit: contain;

                    &:first-child {
                        width: 5.7rem;
                        height: 5.7rem;
                    }

                    &:nth-child(2) {
                        margin-left: -3.9rem;
                        margin-right: 0.9rem;
                        width: 2.2rem;
                        height: 2rem;
                    }

                    &:last-child {
                        width: 2.5rem;
                        height: 1rem;
                    }

                    circle,
                    path {
                        transition-property: fill, stroke;
                        transition-duration: 0.2s;
                        transition-timing-function: ease-in-out;
                    }
                }

                span {
                    margin-right: 0.9rem;
                    font-size: 1.7rem;
                    line-height: 2.5rem;
                    background-color: #fff;
                    transition: color 0.2s ease-in-out;
                }
            }

            &__download {
                display: flex;
                align-items: center;

                &:hover {
                    svg {
                        &:not(:last-child) {
                            path,
                            circle {
                                stroke: #e30613;
                            }
                        }
                        &:last-child {
                            path {
                                fill: #e30613;
                            }
                        }
                    }

                    span {
                        color: #e30613;
                    }
                }

                svg {
                    object-fit: contain;

                    &:first-child {
                        width: 5.7rem;
                        height: 5.7rem;
                    }

                    &:nth-child(2) {
                        margin-top: -0.4rem;
                        margin-left: -3.8rem;
                        margin-right: 0.9rem;
                        width: 2.2rem;
                        height: 1.9rem;
                    }

                    &:not(:last-child) {
                        path,
                        circle {
                            transition: stroke 0.2s ease-in-out;
                        }
                    }

                    &:last-child {
                        width: 2.5rem;
                        height: 1rem;

                        path {
                            transition: fill 0.2s ease-in-out;
                        }
                    }
                }

                span {
                    margin-right: 0.9rem;
                    font-size: 1.7rem;
                    line-height: 2.5rem;
                    transition: color 0.2s ease-in-out;
                    background-color: #fff;
                }
            }

            &__social {
                margin-left: auto;
                display: flex;
                align-items: center;

                &-item {
                    &:not(:last-child) {
                        margin-right: 1rem;
                    }

                    &-link {
                        img {
                            width: 2.4rem;
                            height: 2.4rem;
                            object-fit: contain;
                        }
                    }

                    &-btn {
                        &:hover {
                            svg {
                                path {
                                    fill: #e30613;
                                }
                            }
                        }

                        svg {
                            width: 1.6rem;
                            height: 1.6rem;

                            path {
                                transition: fill 0.2s ease-in-out;
                            }
                        }
                    }
                }
            }
        }
    }

    @media (max-width: 48em) {
        padding-top: 6rem;
        padding-bottom: 20rem;
        border-top: 0.2rem solid #c4c4c4;

        &__list {
            margin: 0;
            margin-bottom: 6rem;
            width: 100%;

            &-item {
                padding-top: 6rem;
                padding-bottom: 6rem;
                flex-direction: column;
                justify-content: flex-start;
                border-bottom: 0.2rem solid #c4c4c4;

                &__img {
                    margin-bottom: 4rem;
                    width: 100%;
                    height: 40rem;
                }

                &__text {
                    width: 100%;
                }

                &__title {
                    margin-bottom: 3rem;
                    font-size: 3.6rem;
                    line-height: 5.4rem;
                }

                &__description {
                    margin-bottom: 3rem;
                    font-size: 3.4rem;
                    line-height: 4.8rem;
                }

                &__links {
                    margin-top: 0;
                    flex-wrap: wrap;
                }

                &__watch {
                    margin-right: 10rem;
                    margin-bottom: 4rem;

                    svg {
                        &:first-child {
                            width: 7.6rem;
                            height: 7.6rem;
                        }

                        &:nth-child(2) {
                            margin-left: -5.2rem;
                            width: 3rem;
                            height: 2.6rem;
                        }

                        &:last-child {
                            width: 4rem;
                            height: 1.2rem;
                        }
                    }

                    span {
                        font-size: 3.2rem;
                        line-height: 4rem;
                    }
                }

                &__download {
                    margin-bottom: 4rem;

                    svg {
                        &:first-child {
                            width: 7.6rem;
                            height: 7.6rem;
                        }

                        &:nth-child(2) {
                            margin-left: -5.2rem;
                            width: 3rem;
                            height: 3rem;
                        }

                        &:last-child {
                            width: 4rem;
                            height: 1.2rem;
                        }
                    }

                    span {
                        font-size: 3.2rem;
                        line-height: 4rem;
                    }
                }

                &__social {
                    width: 100%;

                    &-item {
                        &:not(:last-child) {
                            margin-right: 2rem;
                        }

                        &-link {
                            img {
                                width: 4.8rem;
                                height: 4.8rem;
                            }
                        }

                        &-btn {
                            svg {
                                width: 3.2rem;
                                height: 3.2rem;
                            }
                        }
                    }
                }
            }
        }

        &__controls {
            width: 100%;
            display: flex;
            align-items: center;
            justify-content: space-between;

            &__prev,
            &__next {
                img {
                    width: 6.8rem;
                }
            }

            &__prev {
                margin-right: 0;

                img {
                    transform: scale(-1);
                }
            }

            &__pagination {
                margin-right: 0;
                position: relative;
                display: flex;
                align-items: center;

                .current {
                    margin-right: 1rem;
                    font-size: 8rem;
                    line-height: 9rem;
                    color: #000000;
                }

                .total {
                    font-family: "Circe";
                    font-size: 3rem;
                    line-height: 4.8rem;
                    color: #000000;
                }
            }
        }
    }
}
