.polymer-catalog {
    padding-top: 9rem;

    &__top {
        margin-bottom: 1.1rem;

        &-heading {
            font-weight: 700;
            font-size: 4.5rem;
            line-height: 7rem;
        }
    }

    &__content {
        display: flex;
        border-top: 1px solid #e8e8e8;
    }

    &__right {
        padding-top: 3.3rem;
        padding-left: 3.9rem;
        padding-bottom: 11rem;
        width: 108rem;
        border-left: 1px solid #e8e8e8;

        &-list {
            margin-bottom: 11rem;
            display: flex;
            align-items: stretch;
            flex-wrap: wrap;

            &__item {
                margin-bottom: 4rem;
                flex: 0 0 31.9rem;
                position: relative;
                height: auto;
                display: flex;
                flex-direction: column;

                &::after {
                    content: "";
                    position: absolute;
                    bottom: 0;
                    left: 0;
                    width: 100%;
                    height: 0.3rem;
                    background-color: #e30613;
                    opacity: 0;
                    transition: opacity 0.2s ease-in-out;
                }

                &:hover {
                    &::after {
                        opacity: 1;
                    }

                    .polymer-catalog__right-list__item-card-name {
                        color: #e30613;
                    }
                }

                &:not(:nth-child(3n)) {
                    margin-right: 4rem;
                }

                &:nth-last-child(-n + 2) {
                    margin-bottom: 0;
                }

                &-link {
                    position: absolute;
                    top: 0;
                    left: 0;
                    width: 100%;
                    height: 100%;
                }

                &-img {
                    width: 100%;
                    height: 18.3rem;
                }

                &-card {
                    padding: 2.2rem 1.8rem 2.2rem 3rem;
                    display: flex;
                    align-items: center;
                    justify-content: center;
                    height: 100%;
                    text-align: left;
                    background-color: #edf2f8;

                    &-name {
                        font-weight: 700;
                        font-size: 1.6rem;
                        line-height: 2.4rem;
                        text-transform: uppercase;
                        color: #000;

                        transition: color 0.2s ease-in-out;
                    }
                }
            }
        }

        &-list2 {
            margin-left: -3.9rem;
            margin-bottom: 11rem;

            &__heading {
                margin-left: 4rem;
                font-weight: 700;
                font-size: 4.5rem;
                line-height: 7rem;
            }

            &__item {
                padding: 2.1rem 2rem 2rem 4rem;
                position: relative;
                display: flex;
                justify-content: space-between;
                border: 1px solid #cccccc;
                transition-property: border-color, background-color;
                transition-duration: 0.2s;
                transition-timing-function: ease-in-out;

                &:hover {
                    border-color: #e30613;
                    background-color: #f8f8f8;

                    .polymer-catalog__right-list2__item-left-link {
                        color: #e30613;

                        svg {
                            path {
                                fill: #e30613;
                            }
                        }
                    }
                }

                &:not(:last-child) {
                    margin-bottom: 4rem;
                }

                &-left {
                    margin-top: 2.1rem;
                    width: 32rem;
                    display: flex;
                    flex-direction: column;

                    &-title {
                        margin-bottom: 1rem;
                        font-weight: 700;
                        font-size: 3rem;
                        line-height: 4.4rem;
                    }

                    &-description {
                        margin-bottom: 1.8rem;
                        font-size: 1.5rem;
                        line-height: 2.1rem;
                        color: #8d8d8d;
                        text-transform: uppercase;
                    }

                    &-link {
                        margin-top: auto;
                        margin-bottom: 4rem;
                        display: flex;
                        align-items: center;
                        font-weight: 700;
                        font-size: 1.4rem;
                        line-height: 1.6rem;
                        letter-spacing: 0.05em;
                        text-transform: uppercase;
                        color: #000000;
                        transition: color 0.2s ease-in-out;

                        &::after {
                            content: "";
                            position: absolute;
                            top: 0;
                            left: 0;
                            width: 100%;
                            height: 100%;
                        }

                        span {
                            margin-right: 1.8rem;
                        }

                        svg {
                            width: 2rem;
                            height: 1.6rem;
                            object-fit: contain;

                            path {
                                transition: fill 0.2s ease-in-out;
                            }
                        }
                    }
                }

                &-center {
                    margin-top: 3.8rem;
                    width: 32rem;

                    &-title {
                        margin-bottom: 1.8rem;
                        font-weight: 700;
                        font-size: 1.4rem;
                        line-height: 1.9rem;
                        letter-spacing: 0.05em;
                        text-transform: uppercase;
                        color: #8d8d8d;
                    }

                    &-description {
                        font-size: 1.7rem;
                        line-height: 2.4rem;
                    }
                }

                &-right {
                    width: 30rem;
                    height: 29.3rem;
                    position: relative;
                    display: flex;
                    align-items: center;
                    justify-content: center;
                    background-color: #f4f4f4;

                    &-img {
                        width: 18.5rem;
                        height: 19.1rem;
                        object-fit: contain;
                    }

                    &-new {
                        padding: 0.8rem 1.5rem 0.5rem 1.5rem;
                        background-color: #373737;
                        position: absolute;
                        top: 2rem;
                        left: 2rem;
                        display: flex;
                        align-items: center;

                        p {
                            font-weight: 700;
                            font-size: 1.4rem;
                            line-height: 1.9rem;
                            letter-spacing: 0.05em;
                            text-transform: uppercase;
                            color: #ffffff;
                        }
                    }
                }
            }
        }

        &-text {
            margin-bottom: 11.3rem;
        }

        &-subtitle {
            margin-bottom: 2rem;
            font-weight: 700;
            font-size: 2.4rem;
            line-height: 3.5rem;
        }

        &-description {
            margin-bottom: 2rem;
            font-size: 1.8rem;
            line-height: 2.7rem;
            color: #000;
        }

        &-notice {
            font-size: 1.8rem;
            line-height: 2.7rem;
            color: #000;
        }

        &-list3__heading {
            font-weight: 700;
            font-size: 4.5rem;
            line-height: 6.6rem;
            color: #000;
        }

        &-list3 {
            margin-left: -3.9rem;
            padding-top: 3.5rem;
            padding-left: 3.9rem;
            display: flex;
            flex-wrap: wrap;
            align-items: stretch;
            border-top: 1px solid #e8e8e8;

            &__item {
                padding-bottom: 2rem;
                flex: 0 0 32.4rem;
                position: relative;
                display: flex;
                align-items: flex-start;
                flex-direction: column;
                height: auto;
                border-bottom: 0.2rem solid transparent;
                transition-property: border-color, background-color;
                transition-duration: 0.2s;
                transition-timing-function: ease-in-out;

                &:not(:nth-child(3n)) {
                    margin-right: 3.3rem;
                }

                &:not(:nth-last-child(-n + 3)) {
                    margin-bottom: 6rem;
                }

                &:hover {
                    background-color: #d7dee3;
                    border-color: #e30613;
                    .polymer-catalog__right-list3__item-play {
                        img {
                            transform: scale(1.1);
                        }
                    }

                    .polymer-catalog__right-list3__item-date {
                        color: #e30613;
                    }
                }

                &-img {
                    width: 100%;
                    height: 18.2rem;
                    object-fit: cover;
                }

                &-play {
                    position: relative;
                    display: inline-block;
                    left: 50%;
                    transform: translate(-50%, -50%);

                    img {
                        width: 5.7rem;
                        height: 5.7rem;
                        object-fit: contain;
                        transition: transform 0.2s ease-in-out;
                    }
                }

                &-link {
                    position: absolute;
                    top: 0;
                    left: 0;
                    width: 100%;
                    height: 100%;
                }

                &-date {
                    margin-bottom: 0.9rem;
                    margin-top: -3.6rem;
                    font-size: 1.6rem;
                    line-height: 3rem;
                    color: #c4c4c4;
                    transition: color 0.2s ease-in-out;
                }

                &-description {
                    width: 27.8rem;
                    font-size: 1.8rem;
                    line-height: 2.2rem;
                    color: #000;
                }
            }
        }
    }

    @media (max-width: 48em) {
        padding-top: 10rem;
        padding-bottom: 10rem;

        &__content {
            flex-direction: column;
            border-top: none;
        }

        &__right {
            padding-top: 3.2rem;
            padding-left: 0;
            width: 100%;
            border-left: none;

            &-list {
                margin-bottom: 10rem;
                flex-direction: column;
                flex-wrap: nowrap;
                align-items: flex-start;

                &__item {
                    margin-bottom: 0;
                    flex: none;
                    width: 100%;

                    &:not(:nth-child(3n + 3)) {
                        margin-right: 0;
                    }

                    &:not(:last-child) {
                        margin-bottom: 4rem;
                    }

                    &-img {
                        height: 39.2rem;
                    }

                    &-card {
                        padding: 7rem 3.5rem 7rem 3rem;
                        justify-content: flex-start;

                        &-name {
                            font-size: 3.2rem;
                            line-height: 4.4rem;
                            text-align: left;
                        }
                    }
                }
            }

            &-list2 {
                margin-bottom: 10rem;
                margin-left: 0;

                &__heading {
                    margin-left: 0;
                    margin-bottom: 8rem;
                    font-size: 5.2rem;
                    line-height: 6.8rem;
                }

                &__item {
                    padding: 4rem 3rem;
                    position: relative;
                    flex-direction: column;

                    &-left {
                        margin-top: 0;
                        margin-bottom: 4.2rem;
                        width: 100%;

                        &-title {
                            margin-bottom: 2rem;
                            font-size: 6rem;
                            line-height: 8.8rem;
                        }

                        &-description {
                            margin-bottom: 4rem;
                            font-size: 3.4rem;
                            line-height: 4.8rem;
                        }

                        &-link {
                            font-size: 2.8rem;
                            line-height: 3.2rem;

                            svg {
                                width: 4rem;
                                height: 3.2rem;
                            }
                        }
                    }

                    &-right {
                        width: 100%;
                        height: 40.2rem;

                        &-img {
                            width: 31rem;
                            height: 31.8rem;
                        }

                        &-new {
                            padding: 1.6rem 3rem 1rem 3rem;

                            p {
                                font-size: 2.8rem;
                                line-height: 3.8rem;
                            }
                        }
                    }
                }
            }

            &-text {
                margin-bottom: 21.2rem;
            }

            &-subtitle {
                margin-bottom: 4rem;
                font-size: 5.2rem;
                line-height: 5.8rem;
            }

            &-description {
                margin-bottom: 3rem;
                font-size: 3.2rem;
                line-height: 4.8rem;
            }

            &-notice {
                font-size: 3.2rem;
                line-height: 4.8rem;
            }

            &-list3__heading {
                margin-bottom: 6rem;
                font-size: 5.2rem;
                line-height: 5.2rem;
            }

            &-list3 {
                margin-left: 0;
                margin-bottom: 6rem;
                padding: 0;
                flex-direction: column;
                align-items: unset;
                flex-wrap: nowrap;
                border: none;

                &__item {
                    flex: none;
                    width: 100%;

                    &:not(:nth-last-child(-n + 3)) {
                        margin-bottom: 0;
                    }

                    &:not(:nth-child(3n)) {
                        margin-right: 0;
                    }

                    &:not(:last-child) {
                        margin-bottom: 6rem;
                    }

                    &-img {
                        height: 36.4rem;
                    }

                    &-play {
                        img {
                            width: 10.6rem;
                            height: 10.6rem;
                        }
                    }

                    &-date {
                        margin-top: -7rem;
                        margin-bottom: 2rem;
                        font-size: 3.2rem;
                        line-height: 6rem;
                    }

                    &-description {
                        width: 100%;
                        font-size: 3.2rem;
                        line-height: 4.8rem;
                    }
                }
            }

            &-list3__controls {
                display: flex;
                align-items: center;
                justify-content: space-between;
            }

            &-list3__prev,
            &-list3__next {
                cursor: pointer;

                img {
                    width: 6.8rem;
                    object-fit: contain;
                }
            }

            &-list3__prev {
                img {
                    transform: scale(-1);
                }
            }

            &-list3__pagination {
                display: flex;
                align-items: center;

                .current {
                    margin-right: 2rem;
                    font-size: 8rem;
                    line-height: 8rem;
                }

                .total {
                    font-size: 3rem;
                    line-height: 3rem;
                }
            }
        }
    }
}
