.projects-main {
    padding-top: 4rem;
    padding-bottom: 16rem;

    &__block {
        position: relative;

        &:not(:last-child) {
            margin-bottom: 16rem;
        }

        .swiper__controls {
            position: absolute;
            right: 0;
            top: 0;
        }
    }

    &__heading {
        margin-bottom: 2.1rem;
        font-weight: 700;
        font-size: 4.5rem;
        line-height: 5.6rem;
    }

    &__events,
    &__glue,
    &__objects,
    &__homakoll {
        padding-top: 4.1rem;
        border-top: 0.1rem solid #e8e8e8;

        &-slide {
            width: 43.9rem;
            position: relative;

            &:hover {
                .projects-main__events-slide__date,
                .projects-main__glue-slide__date,
                .projects-main__objects-slide__date,
                .projects-main__homakoll-slide__date {
                    color: #e30613;
                }

                .projects-main__events-slide__img,
                .projects-main__glue-slide__img,
                .projects-main__objects-slide__img,
                .projects-main__homakoll-slide__img {
                    img {
                        transform: scale(1.1);
                    }
                }
            }

            &__img {
                width: 100%;
                height: 37.5rem;
                overflow: hidden;

                img {
                    width: 100%;
                    height: 100%;
                    object-fit: cover;
                    transition: transform 0.2s ease-in-out;
                }
            }

            &__date {
                margin-bottom: 1.7rem;
                font-size: 1.6rem;
                line-height: 2.6rem;
                color: #8f8f8f;
                transition: color 0.2s ease-in-out;
            }

            &__text {
                padding: 2rem 2rem 2.5rem;
                background-color: #f8f8f8;
            }

            &__title {
                margin-bottom: 1.2rem;
                font-weight: 700;
                font-size: 2.4rem;
                line-height: 2.8rem;

                &::after {
                    content: "";
                    position: absolute;
                    top: 0;
                    left: 0;
                    width: 100%;
                    height: 100%;
                }
            }

            &__description {
                font-size: 1.8rem;
                line-height: 2.6rem;
            }
        }
    }

    @media (max-width: 48em) {
        padding-top: 10rem;
        padding-bottom: 20rem;
        border-top: 0.2rem solid #c4c4c4;

        &__block {
            &:not(:last-child) {
                margin-bottom: 20rem;
            }

            .swiper__controls {
                position: relative;
            }
        }

        &__heading {
            margin-bottom: 6rem;
            font-size: 6.6rem;
            line-height: 7.2rem;
        }

        &__events,
        &__glue,
        &__objects,
        &__homakoll {
            padding-top: 4rem;
            margin-bottom: 6rem;
            border-top: 0.2rem solid #c4c4c4;

            &-slide {
                width: 100%;

                &__img {
                    height: 43rem;
                }

                &__text {
                    padding: 4rem;
                }

                &__date {
                    margin-bottom: 2.2rem;
                    font-size: 3.2rem;
                    line-height: 5.2rem;
                }

                &__title {
                    margin-bottom: 2rem;
                    font-size: 3.2rem;
                    line-height: 4rem;
                }

                &__description {
                    font-size: 3.2rem;
                    line-height: 4.8rem;
                }
            }
        }
    }
}
