.project-page-main {
    padding-top: 4.1rem;
    padding-bottom: 18rem;

    .container {
        display: flex;
        align-items: flex-start;
        justify-content: space-between;
    }

    &__left {
        padding: 4.8rem 3rem 4.8rem 2.7rem;
        width: 32rem;
        border: 0.1rem solid #ebebeb;

        &-heading {
            margin-bottom: 1.5rem;
            font-weight: 700;
            font-size: 2.4rem;
            line-height: 1.9rem;
        }

        &-list {
            padding-top: 3.1rem;
            border-top: 0.1rem solid #ebebeb;

            &__item {
                &:not(:last-child) {
                    margin-bottom: 2rem;
                }

                &-btn {
                    font-size: 1.6rem;
                    line-height: 1.9rem;
                    color: #959595;
                    transition: color 0.2s ease-in-out;

                    &.active {
                        font-weight: 700;
                        color: #e30613;
                    }

                    &:hover {
                        color: #e30613;
                    }
                }
            }
        }
    }

    &__right {
        width: 104rem;

        &-date {
            margin-bottom: 1.6rem;
            font-size: 1.8rem;
            line-height: 2.7rem;
            color: #e30613;
        }

        &-place {
            margin-bottom: 1.2rem;
            font-size: 1.8rem;
            line-height: 2.7rem;
            color: #e30613;
        }

        &-heading,
        &-heading2,
        &-heading3 {
            font-weight: 700;
            font-size: 3rem;
            line-height: 4.4rem;
        }

        &-heading {
            margin-bottom: 4.4rem;
        }

        &-heading2 {
            margin-bottom: 1.9rem;
        }

        &-heading3 {
            margin-bottom: 3.2rem;
        }

        &-description {
            margin-bottom: 7.3rem;
            font-size: 1.8rem;
            line-height: 2.7rem;
        }

        &-img {
            margin-bottom: 7.3rem;
            width: 100%;
            height: 38.1rem;
            object-fit: cover;
        }

        &-block,
        &-block2 {
            display: grid;
            column-gap: 0.5rem;
            row-gap: 0.5rem;
            grid-template-areas:
                "A A   B   B "
                "A A   C   D";

            &__img {
                width: 100%;
                height: 100%;
                position: relative;
                object-fit: cover;
                cursor: pointer;
                transition: transform 0.2s ease-in-out;

                &:first-child {
                    grid-area: A;
                }

                &:nth-child(2) {
                    grid-area: B;
                }

                &:nth-child(3) {
                    grid-area: C;
                }

                &:nth-child(4) {
                    grid-area: D;
                }
            }
        }

        &-block {
            margin-bottom: 1rem;
            grid-template-columns: auto auto 23rem 23rem;
            grid-template-rows: 22rem 23rem;
        }

        &-block2 {
            margin-bottom: 9.4rem;
            grid-template-columns: 23rem 23rem auto auto;
            grid-template-rows: 22rem 23rem;
            grid-template-areas:
                "A   A   D D"
                "B   C   D D";
        }

        &-list {
            margin-bottom: 5.7rem;
            display: flex;
            flex-wrap: wrap;
            width: 100%;

            &__item {
                padding: 4.2rem 3.7rem 3.5rem 3.8rem;
                width: 50rem;
                background: linear-gradient(0deg, #fafafa, #fafafa), #ffffff;

                &:not(:nth-child(2n)) {
                    margin-right: 4rem;
                }

                &:not(:nth-last-child(-n + 2)) {
                    margin-bottom: 4rem;
                }

                &-img {
                    margin-bottom: 2.5rem;
                    width: 3rem;
                    height: 2.3rem;
                    object-fit: contain;
                }

                &-description {
                    margin-bottom: 1.3rem;
                    font-weight: 350;
                    font-size: 1.7rem;
                    line-height: 2.4rem;
                    color: #000;
                }

                &-link {
                    margin-bottom: 2.1rem;
                    display: block;
                    font-weight: 350;
                    font-size: 1.5rem;
                    line-height: 2rem;
                    color: #e30613;
                }

                &-author {
                    margin-bottom: 0.3rem;
                    font-weight: 700;
                    font-size: 1.8rem;
                    line-height: 2.7rem;
                    color: #000;
                    text-align: right;
                }

                &-post {
                    font-weight: 350;
                    font-size: 1.5rem;
                    line-height: 2.2rem;
                    color: #000000;
                    text-align: right;
                }
            }
        }

        &-bottom {
            margin-bottom: 5.6rem;
            display: flex;
            align-items: center;
        }

        &-social__heading {
            margin-right: 1.5rem;
            font-weight: 700;
            font-size: 1.8rem;
            line-height: 2.7rem;
        }

        &-social {
            display: flex;
            align-items: center;

            &__item {
                &:not(:last-child) {
                    margin-right: 1rem;
                }
            }

            &__btn {
                display: flex;
                position: relative;
                align-items: center;
                justify-content: center;

                &:hover {
                    svg {
                        path {
                            fill: #e30613;
                        }
                    }
                }

                svg {
                    width: 1.6rem;
                    height: 1.6rem;
                    object-fit: contain;

                    path {
                        transition: fill 0.2s ease-in-out;
                    }
                }
            }

            &__link {
                img {
                    width: 2.4rem;
                    height: 2.4rem;
                    object-fit: contain;
                }
            }
        }

        &__link-back {
            display: flex;
            align-items: center;

            svg {
                margin-right: 1rem;
                width: 3.5rem;
                height: 1.1rem;
                object-fit: contain;
            }

            span {
                font-size: 1.6rem;
                line-height: 2.4rem;
                color: #e30613;
            }
        }
    }

    @media (max-width: 48em) {
        padding-top: 0;
        padding-bottom: 20rem;

        .container {
            flex-direction: column;
            justify-content: flex-start;
        }

        &__left {
            padding: 3rem;
            margin-left: -3rem;
            width: 75rem;
            border: none;
            background-color: #f8f8f8;

            &-heading {
                margin-bottom: 2.6rem;
                font-size: 3.6rem;
                line-height: 3.9rem;
                color: #e30613;
            }

            &-list {
                padding-top: 2rem;
                border-top: 0.2rem solid #e30613;

                &__item {
                    &:not(:last-child) {
                        margin-bottom: 3.4rem;
                    }

                    &-btn {
                        font-size: 3rem;
                        line-height: 3.8rem;

                        &.active {
                            color: #000;
                        }
                    }
                }
            }
        }

        &__right {
            padding-top: 10rem;
            width: 100%;

            &-date {
                margin-bottom: 3rem;
                font-size: 3.6rem;
                line-height: 5.4rem;
            }

            &-place {
                margin-bottom: 5rem;
                font-size: 3.6rem;
                line-height: 5.4rem;
            }

            &-heading,
            &-heading2,
            &-heading3 {
                font-size: 5.2rem;
                line-height: 1;
            }

            &-description {
                font-size: 3.6rem;
                line-height: 5.4rem;
            }

            &-block {
                &__img {
                    &:hover {
                        transform: none;
                        z-index: 1;
                    }
                }
            }

            &-list {
                margin-bottom: 11rem;
                flex-direction: column;
                flex-wrap: nowrap;

                &__item {
                    padding: 4rem;
                    width: 100%;
                    background: none;
                    background-color: #f4f4f4;

                    &:not(:nth-child(2n)) {
                        margin-right: 0;
                    }

                    &:not(:nth-last-child(-n + 2)) {
                        margin-bottom: 0;
                    }

                    &:not(:last-child) {
                        margin-bottom: 4rem;
                    }

                    &-img {
                        margin-bottom: 2rem;
                        width: 5rem;
                        height: 3.8rem;
                    }

                    &-description {
                        margin-bottom: 2rem;
                        font-size: 3.2rem;
                        line-height: 4.8rem;
                    }

                    &-link {
                        margin-bottom: 3rem;
                        font-size: 3rem;
                        line-height: 4rem;
                    }

                    &-author {
                        font-size: 3.6rem;
                        line-height: 5.4rem;
                    }

                    &-post {
                        font-size: 3rem;
                        line-height: 4rem;
                    }
                }
            }

            &-social__heading {
                font-size: 3.2rem;
                line-height: 4.8rem;
            }

            &-social {
                &__item {
                    &:not(:last-child) {
                        margin-right: 3.4rem;
                    }
                }

                &__link {
                    img {
                        width: 6.4rem;
                        height: 6.4rem;
                    }
                }

                &__btn {
                    svg {
                        width: 3.2rem;
                        height: 3.2rem;
                    }
                }
            }

            &__link-back {
                svg {
                    margin-right: 2rem;
                    width: 6.8rem;
                    height: 2rem;
                }

                span {
                    font-size: 3.2rem;
                    line-height: 4.8rem;
                }
            }
        }
    }
}
