.production {
    padding-top: 10rem;
    padding-bottom: 10rem;

    &__top {
        margin-bottom: 2rem;
        display: flex;
        align-items: center;
        justify-content: space-between;

        &-heading {
            font-size: 4.5rem;
            line-height: 7rem;
            color: #000;
        }

        &-link {
            span {
                background-color: #FFFFFF;
            }
        }
    }

    &__list {
        display: inline-flex;
        flex-wrap: wrap;
        position: relative;

        &-item {
            flex: 0 0 41.7rem;
            display: inline-flex;
            flex-direction: column;
            position: relative;

            &:not(:nth-child(3n)) {
                margin-right: 7.4rem;
            }

            &:not(:nth-last-child(-n+3)) {
                margin-bottom: 3.6rem;
            }

            &:hover {
                .production__list-item__card-title {
                    color: silver;
                }

                .production__list-item__card-description {
                    color: silver;

                    svg {
                        path {
                            fill: silver;
                        }
                    }
                }
            }

            &__img {
                width: 100%;
                height: 22rem;
                object-fit: cover;
            }

            &__link {
                position: absolute;
                top: 0;
                left: 0;
                width: 100%;
                height: 100%;
                z-index: 2;
            }

            &__card {
                padding: 2.5rem 3.7rem 2rem 3.7rem;
                position: relative;
                display: flex;
                justify-content: flex-end;
                flex-direction: column;
                min-height: 12.6rem;
                height: 100%;
                background-color: #313131;

                &-title {
                    margin-bottom: 1rem;
                    width: 26.5rem;
                    font-weight: 700;
                    font-size: 2.4rem;
                    line-height: 2.8rem;
                    color: #FFF;
                    transition: color .2s ease-in-out;
                }

                &-description {
                    margin-top: auto;
                    width: 29.5rem;
                    font-size: 1.6rem;
                    line-height: 2rem;
                    color: #9B9B9B;
                    display: inline-block;
                    transition: color .2s ease-in-out;

                    svg {
                        margin-left: 1rem;
                        display: inline-block;
                        width: 1.7rem;
                        height: .8rem;
                        height: auto;
                        object-fit: contain;

                        path {
                            transition: fill .2s ease-in-out;
                        }
                    }
                }

                &-icon {
                    position: absolute;
                    top: 2rem;
                    right: 3.5rem;
                    width: 5.8rem;
                    height: 5.1rem;
                    object-fit: contain;
                }
            }

        }
    }

    &__warranty {
        display: inline-flex;
        flex-direction: column;
        align-items: center;
        position: absolute;
        right: 0;
        bottom: -2.6rem;
        width: 41.7rem;

        &-img {
            margin-bottom: 1rem;
            width: 21.5rem;
            height: auto;
            object-fit: contain;
        }

        &-title {
            margin-bottom: 1rem;
            width: 26rem;
            font-weight: 700;
            font-size: 3.2rem;
            line-height: 4.7rem;
            color: #000;
        }

        &-description {
            margin-bottom: 2.1rem;
            width: 25rem;
            font-size: 1.5rem;
            line-height: 1.8rem;
            color: #000;
        }

        &-link {
            span {
                background-color: #FFFFFF;
            }
        }
    }

    @media (max-width: 48em) {
        padding-top: 10rem;
        padding-bottom: 13.4rem;

        &__top {
            margin-bottom: 6.2rem;
            flex-direction: column;

            &-heading {
                margin-bottom: 4rem;
                font-size: 5.2rem;
                line-height: 5.2rem;
            }
        }

        &__list {
            flex-direction: column;
            align-items: center;
            flex-wrap: nowrap;
            width: 100%;

            &-item {
                flex: none;
                width: 100%;

                &:not(:nth-last-child(-n+3)) {
                    margin-bottom: 0;
                }

                &:not(:last-of-type) {
                    margin-bottom: 4rem;
                }

                &:last-of-type {
                    margin-bottom: 4rem;
                }

                &:not(:nth-child(3n)) {
                    margin-right: 0;
                }

                &__img {
                    height: 34rem;
                }

                &__card {
                    padding: 4rem;

                    &-title {
                        margin-bottom: 2rem;
                        width: 46.4rem;
                        font-size: 4rem;
                        line-height: 4.8rem;
                    }

                    &-description {
                        width: 100%;
                        font-size: 3.2rem;
                        line-height: 4.8rem;

                        img {
                            width: 3.4rem;
                        }
                    }

                    &-icon {
                        top: 4rem;
                        right: 4rem;
                        width: 8rem;
                        height: 8rem;
                    }
                }
            }
        }

        &__warranty {
            position: relative;
            bottom: auto;
            right: auto;
            width: 58.4rem;

            &-title {
                margin-bottom: 2rem;
                width: 100%;
                font-size: 4rem;
                line-height: 5.8rem;
                text-align: center;
            }

            &-description {
                margin-bottom: 2.2rem;
                width: 100%;
                font-size: 3.2rem;
                line-height: 4rem;
                text-align: center;
            }
        }
    }
}