.reviews-main {
    padding-bottom: 10rem;

    &__list {
        margin-bottom: 6rem;

        &-item {
            padding-top: 4.3rem;
            padding-bottom: 4rem;
            display: flex;
            align-items: center;
            justify-content: space-between;
            width: 100%;
            border-bottom: 0.1rem solid #ebebeb;

            &__logo {
                object-fit: contain;

                &.economica {
                    width: 23.4rem;
                    height: 21.1rem;
                }

                &.kaluga {
                    width: 23.3rem;
                    height: 21.1rem;
                }

                &.suenko {
                    width: 27.8rem;
                    height: 18.6rem;
                }

                &.tyumen-energo {
                    width: 29.5rem;
                    height: 19.7rem;
                }

                &.no-photo {
                    margin-left: 3rem;
                    width: 20rem;
                    height: 16.4rem;
                }
            }

            &__text {
                width: 104rem;
            }

            &__quote {
                margin-bottom: 4.1rem;
                width: 3rem;
                height: 2.3rem;
                object-fit: contain;
            }

            &__title {
                margin-bottom: 1.6rem;
                font-weight: 700;
                font-size: 2.4rem;
                line-height: 2.8rem;
                color: #000000;
            }

            &__description {
                margin-bottom: 2.9rem;
                width: 84.9rem;
                font-size: 1.8rem;
                line-height: 2.6rem;
                color: #000000;
            }

            &__download {
                display: flex;
                align-items: center;

                &:hover {
                    svg {
                        path {
                            fill: #e30613;
                        }
                    }

                    span {
                        color: #e30613;
                    }
                }

                svg {
                    &:first-child {
                        width: 7.1rem;
                        height: 7.1rem;
                        object-fit: contain;
                    }

                    &:nth-child(2) {
                        margin-left: -4.5rem;
                        margin-right: 1rem;
                        width: 2.3rem;
                        height: 3rem;
                        object-fit: contain;
                    }

                    path {
                        transition: fill 0.2s ease-in-out;
                    }
                }

                span {
                    font-size: 2rem;
                    line-height: 3.6rem;
                    background-color: #fff;
                    transition: color 0.2s ease-in-out;
                }
            }
        }
    }

    &__controls {
        display: flex;
        align-items: center;
        justify-content: center;

        &__prev,
        &__next {
            cursor: pointer;

            img {
                width: 3.4rem;
                object-fit: contain;
            }
        }

        &__prev {
            margin-right: 2.1rem;

            img {
                transform: scale(-1);
            }
        }

        &__pagination {
            margin-right: 1.5rem;
            position: relative;
            display: flex;
            align-items: center;
            width: auto;
            bottom: auto;
            left: auto;

            .current {
                margin-right: 0.5rem;
                font-family: "Circe";
                font-size: 4rem;
                line-height: 5.9rem;
                color: #000000;
            }

            .total {
                font-family: "Circe";
                font-size: 1.5rem;
                line-height: 1.8rem;
                color: #000000;
            }
        }
    }

    @media (max-width: 48em) {
        padding-bottom: 20rem;
        border-top: 0.2rem solid #c4c4c4;

        &__list {
            &-item {
                padding-top: 5.8rem;
                padding-bottom: 6rem;
                flex-direction: column;
                justify-content: flex-start;
                border-bottom: 0.2rem solid #c4c4c4;

                &__logo {
                    &.economica {
                        width: 30.4rem;
                        height: 27.4rem;
                    }

                    &.kaluga {
                        width: 30.2rem;
                        height: 27.4rem;
                    }

                    &.suenko {
                        width: 35rem;
                        height: 24rem;
                    }

                    &.tyumen-energo {
                        width: 35rem;
                        height: 24rem;
                    }

                    &.no-photo {
                        margin-bottom: 3rem;
                        width: 35rem;
                        height: 28.7rem;
                    }
                }

                &__text {
                    width: 100%;
                }

                &__quote {
                    margin-bottom: 2rem;
                    width: 5.2rem;
                    height: 4rem;
                }

                &__title {
                    margin-bottom: 3rem;
                    font-size: 3.6rem;
                    line-height: 5.4rem;
                }

                &__description {
                    margin-bottom: 0;
                    width: 100%;
                    font-size: 3.6rem;
                    line-height: 5.2rem;
                }

                &__link {
                    margin-bottom: 4rem;
                    display: inline-block;
                    font-size: 3rem;
                    line-height: 5.2rem;
                    text-decoration-line: underline;
                    color: #8d8d8d;
                }

                &__download {
                    svg {
                        &:first-child {
                            width: 7.6rem;
                            height: 7.6rem;
                        }

                        &:nth-child(2) {
                            margin-left: -5rem;
                            margin-right: 0.8rem;
                            width: 2.6rem;
                            height: 3rem;
                        }
                    }

                    span {
                        font-size: 3.2rem;
                        line-height: 4.8rem;
                    }
                }
            }
        }

        &__controls {
            width: 100%;
            justify-content: space-between;

            &__prev,
            &__next {
                img {
                    width: 6.8rem;
                }
            }

            &__prev {
                margin-right: 0;
            }

            &__pagination {
                margin-right: 0;

                .current {
                    margin-right: 1rem;
                    font-size: 8rem;
                    line-height: 9rem;
                    color: #000000;
                }

                .total {
                    font-family: "Circe";
                    font-size: 3rem;
                    line-height: 4.8rem;
                    color: #000000;
                }
            }
        }
    }
}
