.suggestion {
    padding-top: 4.2rem;
    padding-bottom: 16rem;

    .container {
        display: flex;
        align-items: flex-start;
    }

    &__right {
        &-list {
            margin-left: 4rem;

            &__item {
                padding: 4rem 1rem 4rem 1.6rem;
                position: relative;
                display: flex;
                align-items: flex-start;
                border-top: 1px solid #E8E8E8;
                transition: background-color .2s ease-in-out;

                &:hover {
                    background-color: #F8F8F8;

                    .suggestion__right-list__item-img {
                        transform: scale(1.1);
                    }

                    .suggestion__right-list__item-social {
                        opacity: 1;
                    }
                }

                &-text {
                    display: flex;
                    align-items: flex-start;
                    flex-direction: column;
                    width: 68rem;
                }

                &-img {
                    margin-right: 4rem;
                    width: 32rem;
                    height: 20rem;
                    object-fit: cover;
                    transition: transform .2s ease-in-out;
                }

                &-title {
                    margin-bottom: 2.3rem;
                    font-weight: 700;
                    font-size: 2.4rem;
                    line-height: 2.8rem;
                    color: #000;
                }

                &-block {
                    margin-bottom: 1.7rem;
                }

                &-date {
                    margin-right: 1.7rem;
                    position: relative;
                    display: inline;
                    font-weight: 350;
                    font-size: 1.7rem;
                    line-height: 2.4rem;
                    color: #8F8F8F;

                    &::after {
                        content: '';
                        position: absolute;
                        top: 0;
                        right: -.8rem;
                        width: 1px;
                        height: 100%;
                        background-color: #8F8F8F;
                    }
                }

                &-theme {
                    display: inline;
                    font-weight: 350;
                    font-size: 1.7rem;
                    line-height: 2.4rem;
                    color: #E30613;
                    word-break: break-all;
                }

                &-description {
                    margin-bottom: 2rem;
                    width: 68rem;
                    font-size: 1.7rem;
                    line-height: 2.4rem;
                    color: #000;
                }

                &-bottom {
                    display: flex;
                    width: 100%;
                    align-items: center;
                    justify-content: space-between;
                }

                &-social {
                    display: flex;
                    align-items: center;
                    opacity: 0;
                    transition: opacity .2s ease-in-out;
                    z-index: 2;

                    &-item {
                        &:not(:last-child) {
                            margin-right: 1rem;
                        }

                        a {

                            &:hover {
                                img {
                                    opacity: .7;
                                }
                            }

                            img {
                                width: 2.4rem;
                                height: 2.4rem;
                                object-fit: contain;
                                transition: opacity .2s ease-in-out;
                            }
                        }
                    }

                    &-btn {
                        display: flex;
                        position: relative;
                        align-items: center;
                        justify-content: center;
                        z-index: 10;

                        &:hover {
                            svg {
                                path {
                                    fill: #E30613;
                                }
                            }
                        }

                        svg {
                            width: 1.6rem;
                            height: 1.6rem;
                            object-fit: contain;

                            path {
                                transition: fill .2s ease-in-out;
                            }
                        }
                    }
                }

                &-link {
                    display: flex;
                    align-items: center;
                    font-weight: 700;
                    font-size: 1.6rem;
                    line-height: 1.6rem;
                    transition: color .2s ease-in-out;

                    &:hover {
                        color: #E30613;

                        svg {
                            path {
                                fill: #E30613;
                            }
                        }
                    }

                    &::after {
                        content: '';
                        position: absolute;
                        left: 0;
                        top: 0;
                        width: 100%;
                        height: 100%;
                    }

                    span {
                        margin-right: .5rem;
                    }

                    svg {
                        width: 2rem;
                        height: 1rem;
                        object-fit: contain;

                        path {
                            transition: fill .2s ease-in-out;
                        }
                    }
                }

            }
        }
    }

    @media (max-width: 48em) {
        padding-top: 0rem;
        padding-bottom: 17rem;

        .container {
            flex-direction: column;
        }

        &__right {
            &-list {
                margin-left: 0;
                position: relative;
                left: -3rem;
                width: 75rem;

                &__item {
                    padding: 6rem 3rem;
                    flex-direction: column;
                    position: relative;
                    width: 100%;
                    border: none;

                    &::before {
                        content: '';
                        position: absolute;
                        top: 0;
                        left: 0;
                        width: 100%;
                        height: 1px;
                        background-color: #C4C4C4;
                    }

                    &-img {
                        margin-right: 0;
                        margin-bottom: 6rem;
                        width: 100%;
                        height: 40rem;
                    }

                    &-text {
                        width: 100%;
                    }

                    &-title {
                        margin-bottom: 3.2rem;
                        font-size: 3.6rem;
                        line-height: 5.6rem;
                    }

                    &-block {
                        margin-bottom: 3.2rem;
                    }

                    &-date {
                        font-size: 3.2rem;
                        line-height: 5.2rem;

                        &::after {
                            top: 50%;
                            height: 2rem;
                            transform: translateY(-55%);
                        }
                    }

                    &-theme {
                        font-size: 3.2rem;
                        line-height: 5.2rem;
                    }

                    &-description {
                        margin-bottom: 4rem;
                        font-weight: 350;
                        font-size: 3.2rem;
                        line-height: 5.2rem;
                    }

                    &-link {
                        font-size: 3.2rem;
                        line-height: 3.2rem;

                        span {
                            margin-right: 1rem;
                        }

                        svg {
                            width: 4rem;
                            height: 2rem;
                        }
                    }

                    &-social {
                        &-item {

                            &:not(:last-child) {
                                margin-right: 2rem;
                            }

                            a {
                                img {
                                    width: 4.8rem;
                                    height: 4.8rem;
                                }
                            }
                        }
                    }
                }
            }
        }
    }
}