.techsupport-main {
    padding-bottom: 15rem;
    width: 100%;
    overflow: hidden;

    &__block {
        padding-left: 25rem;
        display: flex;
        width: 100%;

        &:nth-child(even) {
            flex-direction: row-reverse;
            justify-content: flex-end;

            .techsupport-main__block-left {
                padding: 5rem 10.7rem 5rem 5rem;
                width: 72rem;
            }

            .techsupport-main__block-right {
                width: 73rem;
            }
        }

        &-left {
            padding: 5rem 12.8rem 5rem 3.5rem;
            display: flex;
            align-items: flex-start;
            flex-direction: column;
            width: 73rem;

            &__list {
                display: flex;
                flex-direction: column;
                height: 100%;

                &-item {
                    &:last-child {
                        margin-top: auto;
                    }

                    &-number {
                        margin-bottom: 1rem;
                        font-weight: 700;
                        font-size: 4rem;
                        line-height: 5.9rem;
                        color: #e30613;
                    }

                    &-heading {
                        margin-bottom: 2rem;
                        font-weight: 700;
                        font-size: 3rem;
                        line-height: 4.4rem;
                    }

                    &-description {
                        font-size: 1.8rem;
                        line-height: 2.7rem;
                    }
                }
            }

            &__link {
                margin-top: auto;
                margin-bottom: 1rem;
                display: flex;
                align-items: center;

                &:hover {
                    svg {
                        stroke: #e30613;

                        path {
                            fill: #e30613;
                        }
                    }

                    span {
                        color: #e30613;
                    }
                }

                svg {
                    transition: stroke 0.2s ease-in-out;

                    path {
                        transition: fill 0.2s ease-in-out;
                    }

                    &:first-child {
                        width: 7.1rem;
                        height: 7.1rem;
                        object-fit: contain;
                    }

                    &:nth-child(2) {
                        margin-left: -4.8rem;
                        margin-right: 1.2rem;
                        width: 2.5rem;
                        height: 3rem;
                        object-fit: contain;

                        path {
                            stroke: 4px;
                        }
                    }
                }

                span {
                    font-weight: 800;
                    font-size: 3rem;
                    line-height: 4.2rem;
                    background-color: #fff;
                    transition: color 0.2s ease-in-out;
                }
            }

            &__notice {
                margin-bottom: 4rem;
                font-size: 1.6rem;
                line-height: 2.4rem;
                text-transform: uppercase;
            }

            &__btn {
                padding: 1.6rem 4.3rem;
                font-weight: 700;
                font-size: 2rem;
                line-height: 2.9rem;
                text-transform: uppercase;
                color: #fff;
                background-color: #e30613;
            }
        }

        &-right {
            width: 72rem;
            height: 70rem;

            &__img {
                width: 100%;
                height: 100%;
                object-fit: cover;
            }
        }
    }

    @media (max-width: 48em) {
        padding-bottom: 20rem;

        &__block {
            padding: 0;
            flex-direction: column;

            &:nth-child(even) {
                flex-direction: column;

                .techsupport-main__block-left {
                    padding: 7.6rem 3rem 0 3rem;
                }

                .techsupport-main__block-right {
                    margin-top: 4rem;
                    width: 100%;
                    height: 62rem;
                }
            }

            &-left {
                padding: 7.6rem 3rem 0 3rem;
                width: 100%;

                &__heading {
                    margin-top: 2.4rem;
                    margin-bottom: 3rem;
                    font-weight: 700;
                    font-size: 6.6rem;
                    line-height: 7.2rem;
                    color: #000;
                }

                &__description {
                    margin-bottom: 6.6rem;
                    font-size: 3.2rem;
                    line-height: 4.8rem;
                }

                &__list {
                    height: auto;

                    &-item {
                        &:not(:last-child) {
                            margin-bottom: 7.6rem;
                        }

                        &-number {
                            margin-bottom: 0.8rem;
                            display: inline-block;
                            position: relative;
                            font-size: 8rem;
                            line-height: 11.8rem;

                            &::before {
                                content: "";
                                position: absolute;
                                top: -0.6rem;
                                left: 0;
                                width: 100%;
                                height: 0.6rem;
                                background-color: #e30613;
                            }
                        }

                        &-heading {
                            margin-bottom: 3rem;
                            font-size: 5.2rem;
                            line-height: 5.4rem;
                        }

                        &-description {
                            font-size: 3.2rem;
                            line-height: 4.8rem;
                        }
                    }
                }
            }

            &-right {
                margin-top: 4rem;
                width: 100%;
                height: 62rem;
            }
        }

        &__qa {
            padding: 10rem 3rem;

            &-heading {
                margin-bottom: 6rem;
                font-weight: 700;
                font-size: 3.6rem;
                line-height: 5.4rem;
            }

            &-list {
                &__item {
                    padding-left: 2.4rem;
                    position: relative;
                    font-size: 3.2rem;
                    line-height: 4.8rem;

                    &::before {
                        content: "";
                        position: absolute;
                        left: 0;
                        top: 1.6rem;
                        width: 1.2rem;
                        height: 1.2rem;
                        background-color: #e30613;
                        border-radius: 50%;
                    }

                    &:not(:last-child) {
                        margin-bottom: 3rem;
                    }
                }
            }
        }

        &__request {
            padding: 10rem 3rem 9rem 3rem;
            background-color: #edf2f8;

            &-description {
                margin-bottom: 6rem;
                font-size: 3.6rem;
                line-height: 5.4rem;
            }

            &-heading {
                margin-bottom: 7rem;
                font-weight: 700;
                font-size: 3.2rem;
                line-height: 4rem;
            }

            &-links {
                display: flex;
                align-items: center;
                justify-content: space-between;
                width: 100%;

                &-phone {
                    display: flex;
                    align-items: center;

                    svg {
                        &:first-child {
                            width: 7rem;
                            height: 7rem;
                            object-fit: contain;
                        }

                        &:nth-child(2) {
                            margin-left: -5.1rem;
                            margin-right: 0.2rem;
                            width: 3.4rem;
                            height: 3.8rem;
                            object-fit: contain;
                        }
                    }

                    span {
                        font-size: 3.2rem;
                        line-height: 4.5rem;
                        background-color: #edf2f8;
                    }
                }

                &-email {
                    span {
                        background-color: #edf2f8;
                    }
                }
            }
        }
    }
}
