.timeline {
    padding-top: 5.5rem;
    padding-bottom: 17rem;
    background-color: #fff;

    &__list {
        margin: 0 auto;
        width: 114rem;

        &-item {
            position: relative;
            display: flex;
            align-items: flex-start;
            justify-content: space-between;
            width: 100%;

            &:nth-child(odd) {
                .timeline__list-item__left-text {
                    align-items: flex-end;
                    text-align: right;
                }
            }

            &:nth-child(2n) {
                flex-direction: row-reverse;

                .timeline__list-item__left {
                    align-items: flex-start;
                    transform: translateX(2rem);

                    &-title {
                        width: 26.4rem;
                    }
                }

                .timeline__list-item__right {
                    margin-left: 1.5rem;

                    &-text {
                        text-align: right;
                    }
                }
            }

            &:not(:last-child) {
                &::after {
                    content: "";
                    position: absolute;
                    left: calc(50% + 1.25rem);
                    top: 7.1rem;
                    width: 1px;
                    height: 100%;
                    background-color: #dfdfdf;
                }
            }

            &::before {
                content: "";
                position: absolute;
                left: 50%;
                top: 3.6rem;
                width: 2.5rem;
                height: 2.5rem;
                background-image: url(../images/svg/advantages-list-item-point.svg);
                background-repeat: no-repeat;
                background-size: contain;
                background-position: center;
            }

            &__left {
                display: flex;
                flex-direction: column;
                align-items: flex-end;

                &-text {
                    display: flex;
                    flex-direction: column;
                    align-items: flex-start;
                }

                &-year {
                    margin-bottom: 0.7rem;
                    font-family: "Gilroy";
                    font-weight: 700;
                    font-size: 9rem;
                    line-height: 10rem;
                    color: #dfdfdf;
                }

                &-title {
                    margin-bottom: 2.3rem;
                    width: 21.8rem;
                    font-family: "Circe";
                    font-style: normal;
                    font-weight: 800;
                    font-size: 1.8rem;
                    line-height: 2.2rem;
                    color: #000000;
                }

                &-img {
                    width: 51.7rem;
                    height: 25.4rem;
                    object-fit: cover;
                }
            }

            &:not(:last-child) {
                margin-bottom: 5.7rem;
            }

            &__right {
                margin-top: 10.7rem;
                width: 50rem;

                &-text {
                    font-family: "Circe";
                    font-weight: 400;
                    font-size: 1.8rem;
                    line-height: 2.7rem;
                    color: #000000;
                }
            }
        }
    }

    @media (max-width: 48em) {
        padding-top: 4rem;
        padding-bottom: 20rem;

        &__list {
            width: 100%;

            &-item {
                &:not(:last-child) {
                    margin-bottom: 13.5rem;

                    &::after {
                        left: 50%;
                        top: 10rem;
                        height: 105%;
                    }
                }

                &:nth-child(2n) {
                    .timeline__list-item__left {
                        transform: none;
                    }
                }

                &::before {
                    top: 2rem;
                    width: 5rem;
                    height: 5rem;
                    transform: translateX(-50%);
                }

                &__left {
                    align-items: flex-start;

                    &-year {
                        margin-bottom: 1rem;
                        font-size: 9rem;
                        line-height: 1;
                    }

                    &-title {
                        margin-bottom: 2.6rem;
                        width: 30rem;
                        font-weight: 600;
                        font-size: 3.2rem;
                        line-height: 4.2rem;
                    }

                    &-img {
                        width: 30rem;
                        height: 16rem;
                    }
                }

                &__right {
                    margin-top: 10rem;
                    width: 30rem;

                    &-text {
                        font-weight: 350;
                        font-size: 3.2rem;
                        line-height: 4.2rem;
                    }
                }
            }
        }
    }
}
