.vacancy-page__main {
    padding-top: 4.1rem;
    padding-bottom: 18rem;

    .container {
        display: flex;
        align-items: flex-start;
        justify-content: space-between;
    }

    &-left {
        padding: 4.8rem 3rem;
        width: 32rem;
        border: 1px solid #EBEBEB;

        &__heading {
            margin-bottom: 1.5rem;
            font-weight: 700;
            font-size: 2.4rem;
            line-height: 1.9rem;
        }

        &__list {
            padding-top: 3.1rem;
            border-top: 1px solid #EBEBEB;

            &-item {
                &:not(:last-child) {
                    margin-bottom: 1.9rem;
                }

                &-link {
                    font-size: 1.6rem;
                    line-height: 1.9rem;
                    color: #959595;
                    transition: color .2s ease-in-out;

                    &:hover {
                        color: #E30613;
                    }
                }
            }
        }
    }

    &-right {
        width: 104rem;

        &__list {
            margin-bottom: 3.6rem;

            &-item {

                &:first-child {
                    p {
                        &:first-child {
                            margin-bottom: .7rem;
                        }

                        &:last-child {
                            font-size: 2.4rem;
                            line-height: 3.2rem;
                            color: #000;
                        }
                    }
                }

                &:not(:last-child) {
                    margin-bottom: 2.6rem;
                }

                p {
                    &:first-child {
                        font-weight: 700;
                        font-size: 2.4rem;
                        line-height: 3.5rem;
                    }

                    &:last-child {
                        font-size: 1.8rem;
                        line-height: 2.6rem;
                    }
                }

                ul {
                    li {
                        padding-left: 1em;
                        position: relative;
                        font-size: 1.8rem;
                        line-height: 2.7rem;

                        &::before {
                            content: '';
                            position: absolute;
                            left: 0;
                            top: 1.1rem;
                            width: .3rem;
                            height: .3rem;
                            border-radius: 50%;
                            background-color: #313131;
                        }
                    }
                }
            }
        }

        &__btn {
            cursor: pointer;
        }
    }

    @media (max-width: 48em) {
        padding-top: 0;
        padding-bottom: 20rem;

        .container {
            align-items: flex-start;
            flex-direction: column;
            justify-content: flex-start;
        }

        &-left {
            padding: 3rem;
            margin-left: -3rem;
            width: 75rem;
            background-color: #F8F8F8;
            border: none;

            &__heading {
                margin-bottom: 2.6rem;
                font-size: 3.6rem;
                line-height: 3.8rem;
                color: #E30613;
            }

            &__list {
                border-top: .2rem solid #E30613;

                &-item {
                    &:not(:last-child) {
                        margin-bottom: 3.4rem;
                    }

                    &-link {
                        font-size: 3rem;
                        line-height: 3.8rem;
                    }
                }
            }
        }

        &-right {
            padding-top: 10rem;
            width: 100%;

            &__list {
                margin-bottom: 6rem;

                &-item {

                    &:first-child {
                        p {
                            &:first-child {
                                margin-bottom: 1rem;
                                font-size: 3.6rem;
                                line-height: 5.4rem;
                                color: #000;
                            }

                            &:last-child {
                                font-size: 3.6rem;
                                line-height: 5.4rem;
                            }
                        }
                    }

                    &:not(:last-child) {
                        margin-bottom: 6rem;
                    }

                    p {
                        &:first-child {
                            margin-bottom: 1rem;
                            font-size: 3.6rem;
                            line-height: 5.4rem;
                            color: #000;
                        }

                        &:last-child {
                            font-size: 3.2rem;
                            line-height: 4.8rem;
                        }
                    }

                    ul {
                        li {
                            font-size: 3.2rem;
                            line-height: 4.8rem;

                            &::before {
                                width: .6rem;
                                height: .6rem;
                                top: 2rem;
                            }
                        }
                    }
                }
            }
        }
    }
}