.video {
    padding-top: 13.3rem;
    padding-bottom: 13rem;
    background-color: #EFF2F6;

    &__top {
        margin-bottom: 3.4rem;
        display: flex;
        align-items: center;
        justify-content: space-between;

        &-heading {
            font-family: 'Circe';
            font-weight: 350;
            font-size: 4.5rem;
            line-height: 6.6rem;
            color: #000000;
        }

        &-link {
            span {
                background-color: #EFF2F6;
            }
        }
    }

    .swiper__video {
        .swiper-wrapper {
            margin-bottom: 6rem;
        }

        &-slide {
            &__img {
                width: 100%;
                height: auto;
                object-fit: contain;
            }

            &__link {
                position: relative;
                display: inline-block;
                left: 50%;
                transform: translate(-50%, -50%);

                &:hover {

                    img {
                        transform: scale(1.1);
                    }
                }

                img {
                    width: 5.7rem;
                    height: 5.7rem;
                    object-fit: contain;
                    transition: transform .2s ease-in-out;
                }
            }

            &__date {
                margin-top: -4rem;
                margin-bottom: .9rem;
                font-family: 'Circe';
                font-weight: 400;
                font-size: 1.6rem;
                line-height: 3rem;
                color: #C4C4C4;
            }

            &__description {
                width: 27.8rem;
                font-size: 1.8rem;
                line-height: 2.2rem;
                color: #000;
            }
        }
    }

    @media (max-width: 48em) {
        padding-top: 20rem;
        padding-bottom: 20rem;

        &__top {
            &-heading {
                font-weight: 700;
                font-size: 5.2rem;
                line-height: 5.2rem;
            }
        }

        .swiper__video {
            .swiper-wrapper {
                margin-bottom: 6rem;
                flex-direction: row;
            }

            &-slide {

                &__link {

                    img {
                        width: 10.6rem;
                        height: 10.6rem;
                    }
                }

                &__date {
                    margin-top: -7rem;
                    margin-bottom: 2rem;
                    font-size: 3.2rem;
                    line-height: 5rem;
                }

                &__description {
                    width: 100%;
                    font-size: 3.2rem;
                    line-height: 4.8rem;
                }
            }
        }

    }
}